@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
}

footer{background-color: #004e98;}

h1, h2, h3 {
    font-family: "Open Sans", sans-serif; 
    font-weight: 600;
}


header {background-color: #ebebeb;}

.blockquote {color: #004e98;}

.navbar-toggler i {color: white;}

.navbar-brand img {width: 32px;}

section div img {width: 100%}

